{
  "extends": ["prettier",
    "plugin:react/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": ["error"]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
}
}
